body {
  padding: 0;
  margin: 0;
}
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #2a2730;
}

.logIn {
  width: 330px;
  height: 590px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3b3e49;
  border-radius: 10px;
}
.logIn h1{
  color: white;
}

.logIn input{
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 1px solid #afb2b4;
  border-radius: 10px;
  background-color: transparent;
  padding-left: 10px;
  color: white;
  font-size: 15px;
}

.logIn input:focus{
  outline: none;
}

.logIn button{

  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #afb2b4;
  color: white;
  font-size: 16px;
  margin-top: 30px;
}

.logIn button:hover{
  cursor: pointer;
  background-color: #afb2b4;
}

.chatContainer {
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    height: 590px;
    max-width: 330px;
    background-color: #ffffff;
    border-radius: 10px;
}

.chatContainer .messages {
  flex: 80%;
  width: 100%;
  padding-left: 20px;
  overflow-y: scroll;
  padding: initial;
}

.chatContainer .messageInputs {
  flex: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;

}

.chatContainer .messageInputs input{
 
  width: 285px;
  height: 40.14px;
  position: relative;
  padding:10px; 
  border: 1px solid #000;
  border-radius: 15px;
  background: #F4F3F2;
  color: #000;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  
}

.msg-container {
  width: 100%;
  position: absolute;
  bottom: 15px;
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#You{
  justify-content: flex-start;
}

#Other {
  justify-content: flex-end;
}

#Other .messageIndividual {
  background-color: #5ff064;
  color: black;
  margin-left: 140px;
  
}
.messageIndividual {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  background-color: #0091ff;
  opacity: 0.9;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 5px;
  text-align: center;

}

form {
  margin-top:30px;
  margin-left: 10px;
}